/* Styles généraux */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url(backi.avif);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(168, 162, 162, 0.8);
  background-blend-mode: multiply;
  background-position: center;
  background-attachment: fixed;
}

.adminWrapper {
  display: flex;
  height: 100vh;
}

.adminSidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 100vh;
  padding: 0 1.7rem;
  color: #000;
  overflow: hidden;
  transition: all 0.5s linear;
  background: #009688;
}

.adminSidebar:hover {
  width: 290px;
  transition: 0.5s;
}

.adminMainContent {
  flex: 1;
  padding: 20px;
  color: #000;
}

/* Styles du menu */
.adminMenu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}

.adminMenuItem {
  padding: 1rem;
  margin: 8px 0;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.adminMenuItem:hover,
.adminMenuItem.active {
  background: #B9C7C8;
}

.adminMenu a {
  color: #000;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.adminMenu a h6 {
  overflow: hidden;
}

/* Styles des icônes */
.adminIcon {
  margin-bottom: 5px;
}

/* Styles du header */
.adminHeaderWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.adminHeaderTitle {
  display: flex;
  align-items: center;
}

.adminHeaderTitle h6 {
  color: #009688;
  margin-right: 5px;
  font-size: 30px;
}

.adminHeaderTitle h2 {
  margin: 0;
  color: #009688;
  font-size: 30px;
}

/* Styles des données */
.adminCardContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.adminMainTitle {
  color: #009688;
  margin-top: 0;
}

.adminData {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.adminDataHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adminDataContent {
  flex: 1;
}

.adminDataTitle {
  color: #333;
}

.adminDataNumber {
  font-weight: bold;
}

.adminLightGreen {
  background-color: #d4edda;
}

.adminLightBlue {
  background-color: #d1ecf1;
}

.adminLightPurple {
  background-color: #e2e3e5;
}

.adminDarkBlue {
  color: #117a8b;
}

.adminDarkPurple {
  color: #6c757d;
}

/* Styles du message de bienvenue */
.adminWelcome {
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.adminWelcome h1 {
  font-size: 50px;
  margin-top: 20px;
  color: #009688;
}

.adminWelcome p {
  margin: 20px auto;
  font-weight: 300;
  line-height: 25px;
  color: #fff;
  font-size: 30px;
}