@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&family=Nunito:wght@400;900&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../images/back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.wrapper{
   width: 750px;
   background: rgba(255, 255, 255, .1);
   border: 2px solid rgba(255, 255, 255, .2);
   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
   backdrop-filter: blur(50px);
   border-radius: 10px;
   color: #fff;
   padding: 40px 35px 55px;
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.wrapper .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.input-box {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Ajustez selon votre espacement préféré entre chaque paire de champs et boutons */
}

.input-box .input-field{
    flex: 1; /* Pour occuper tout l'espace disponible */
    position: relative;
    margin-right: 10px; /* Espacement entre le champ et le bouton */
    color: #009688;
}
.input-box button {
    width: auto; /* Taille automatique en fonction du contenu */
    padding: 10px 15px; /* Ajustez la taille du bouton selon vos besoins */
    margin: 0;
}

.input-box .input-field i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%) ;
    font-size: 20px;
}

.input-box .input-field input{
    width: calc(100% - 45px);
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
    padding: 15px 15px 15px 40px;
}
.input-box .input-field input::placeholder{
    color: #fff;
}
.wrapper label{
    font-size: 14.5px;
    margin: 10px 0 23px;
    display: inline-block;
}
.wrapper label input{
    accent-color: #fff;
    margin-right: 5px;
}
.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1) ;
    cursor: pointer;
    color: #333;
    font-weight: 600;
}
@media (max-width:576px) {
    .input-box .input-field{
        width: 100%;
        margin: 10px 0;
    }
    
}
button{
    width: 100px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span{
    background: #009688;
    height:100% ;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}