body {
    width: 100%;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/back.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-bar button {
    padding: 8px 16px;
    border: none;
    background-color: #009688;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2); /* Ajout de la bordure */
    border-radius: 8px; /* Coins arrondis */
    overflow: hidden; /* Empêcher le débordement */
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f9f9f9;
}

button {
    padding: 6px 12px;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button {
    margin-right: 10px; /* Ajoutez la marge uniquement à ce bouton */
}
