<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Gestion des agences</title>
    <link rel="stylesheet" type="text/css" href="../css/adminGestion.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Gestion des Agences</h1>
        <div class="search-bar">
            <input type="text" placeholder="Rechercher...">
            <button><a href="/loginAdmin/AjouterAgence">Ajouter Agence</a></button>
        </div>
    </div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <!-- Les données des clients seront ajoutées ici dynamiquement -->
        <tr th:each="agence : ${listAgences}">
            <td th:text="${agence.idAgence}"></td>
            <td th:text="${agence.nom}"></td>
            <td th:text="${agence.adresse}"></td>
            <td th:text="${agence.telephone}"></td>
            <td th:text="${agence.email}"></td>
            <td th:text="${agence.password}"></td>
            <td>
                <a th:href="@{/loginAdmin/supprimerAgence/{id}(id=${agence.idAgence})}">Supprimer</a>
            </td>
        </tr>
        <!-- Vous pouvez ajouter d'autres lignes pour plus de clients -->
        </tbody>
    </table>
</div>
</body>
</html>