<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Gestion des commandes</title>
    <link rel="stylesheet" type="text/css" href="../css/agenceGestion.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Gestion des Commandes</h1>
            <div class="search-bar">
                <input type="text" placeholder="Rechercher...">
                <button><a href="agenceAjoutCommande.html">Ajouter commande</a></button>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>Numero</th>
                    <th>Nom</th>
                    <th>ID livreur</th>
                    <th>ID Client</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <!-- Les données des clients seront ajoutées ici dynamiquement -->
                <tr>
                    <td>1</td>
                    <td>cosmetics</td>
                    <td>12</td>
                    <td>14</td>
                    <td>
                        <button class="delete-button"><span></span>Supprimer</button>
                        <button><span></span>Modifier</button>
                    </td>
                    
                </tr>
                <!-- Vous pouvez ajouter d'autres lignes pour plus de clients -->
            </tbody>
        </table>
    </div>
</body>
</html>
