<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Ajouter Agence</title>
    <link rel="stylesheet" type="text/css" href="agenceAcceuil.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="logg.png" class="logo">
                <ul>
                    <li><a href="agenceClients.html">Clients</a></li>
                    <li><a href="agenceCommandes.html">Commandes</a></li>
                    <li><a href="agenceAffectation.html">Affectation</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>Bienvenue dans l'espace Agence</h1>
                <p>gérer vos commandes et vos clients</p>
                <div>
                    <button type="submit" class="btn"><a href="agenceProfile.html"><span></span>Voir profil</a></button>
                    <button button type="submit" class="btn"><a href="home.html"></a><span></span>Se déconnecter</a></button>
                </div>
            </div>
        </div>

    </body>
</html>