<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Gestion des livreurs</title>
    <link rel="stylesheet" type="text/css" href="../css/adminGestion.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="header">
        <h1>Liste de Mes Clients </h1>
        <div class="search-bar">

        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>idCommande</th>
            <th>nom</th>
            <th>dateMin</th>
            <th>dateMax</th>
            <th>affecte</th>
            <th>etat</th>
            <th>accomplie</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="commande : ${ListCommandes}">
            <td th:text="${commande.idCommande}"></td>
            <td th:text="${commande.nom}"></td>
            <td th:text="${commande.dateMin}"></td>
            <td th:text="${commande.dateMax}"></td>
            <td th:text="${commande.affecte}"></td>
            <td th:text="${commande.etat}"></td>
            <td th:text="${commande.accomplie}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
