<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Gestion de profile</title>
    <link rel="stylesheet" type="text/css" href="../css/LivreurProfil.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
<div class="wrapper profil-admin">
    <form action="" th:each="livreur : ${livreur}">
        <h1 class="hh">Gestion de profil</h1>
        <div class="input-box">
            <div class="input-field">
                <input type="number" th:value="${livreur.idLivreur}" placeholder="Identifiant" disabled onChange="handleInputChange" />
                <i class='bx bx-id-card'></i>
            </div>
        </div>
        <div class="input-box">
            <div class="input-field">
                <input type="text" th:value="${livreur.nom}" placeholder="Nom" disabled onChange="handleInputChange" />
                <i class='bx bxs-user'></i>
            </div>
            <button type="button" onclick="handleEditClick"><span></span>modifier</button>
        </div>
        <div class="input-box">
            <div class="input-field">
                <input type="text" th:value="${livreur.prenom}" placeholder="Prenom" disabled onChange="handleInputChange" />
                <i class='bx bxs-user'></i>
            </div>
            <button type="button" onclick="handleEditClick"><span></span>modifier</button>
        </div>
        <button type="submit" class="btn">Confirmer</button>
    </form>
</div>
</body>
</html>