<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Information sur mes commandes</title>
    <link rel="stylesheet" type="text/css" href="../css/SuiviCde.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <div class="affectation-container">
        <div class="row justify-content-center">
            <div class="col-12 text-center mt-4">
                <h2 class='affectation-title'>Mes Commandes </h2>
                <br></br>
            </div>
        </div>
        <form>
            <div class="container d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col-md-8 table-container">
                        <table class="livreur-table">
                            <tbody>
                                <tr>
                                    <td>idCommande</td>
                                    <td>nom</td>
                                    <td>type</td>
                                    <td>accomplie</td>
                                    <td>etat</td>
                                    <td>etat</td>
                                </tr>
                                <tr th:each="commande : ${listeCommandes}">
                                    <td th:text="${commande.idCommande}"></td>
                                    <td th:text="${commande.nom}"></td>
                                    <td th:text="${commande.type}"></td>
                                    <td th:text="${commande.accomplie}"></td>
                                    <td th:text="${commande.etat}"></td>
                                    <td>
                                        <a th:href="@{/loginAdmin/detailsCommande/{id}(id=${commande.idCommande})}">Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
